@use "../1-base/placeholders";
@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;

.header {
    @extend %section-padding;
    position: relative;
    z-index: 20;

    &--black {
        background-color: vars.$black;
    }

    &__inner-container {
        @extend %inner-container;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;
        gap: 2rem;
        padding: 2rem 0 2.25rem 0;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__division {
        display: block;
        max-width: 1110px;
        height: 2px;
        margin: 0 auto;
        background-color: rgba(#979797, 0.25);
        box-shadow: 4px 4px 10px rgba(vars.$black, 0.25);
    }
}
