@use "../1-base/placeholders";
@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;

.header-bg {
    &--black {
        background-color: vars.$black;
    }
}

.header {
    @extend %section-padding;
    position: relative;
    z-index: 20;

    &__inner-container {
        @extend %inner-container;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1.75rem 0;

        @include mixins.media-960 {
            grid-template-columns: 1fr auto;
        }
    }

    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }

    &__division {
        display: block;
        max-width: 1110px;
        height: 2px;
        margin: 0 auto;
        background-color: rgba(#979797, 0.25);
        box-shadow: 4px 4px 10px rgba(vars.$black, 0.25);
    }
}
