@use "../1-base/placeholders";
@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;

.utils-wrapper {
    @extend %section-padding;

    &__inner {
        @extend %inner-container;
        margin-top: 5rem;
    }
}

.categories {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;
    }
}

.about-us {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        @include mixins.flex($gap: 2rem, $content: space-between, $items: center);
    }

    &__content {
        width: 40%;
        flex-shrink: 0;
    }

    &__title {
        font-weight: vars.$extra-bold-weight;
        margin-bottom: 2rem;
    }

    &__highlight {
        color: vars.$default-orange;
    }

    &__text {
        color: rgba(vars.$black, 0.5);
        font-weight: vars.$medium-weight;
    }

    &__img-container {
        max-width: 540px;
        flex-shrink: 2;
    }

    &__img {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
    }
}
