@use "../1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../1-base/placeholders";

.btn {
    @extend %subtitle;
    line-height: calc(1em);
    padding: 1.125rem 2rem;
    white-space: nowrap;
    outline: none;
    transition:
        color vars.$transition-duration,
        background-color vars.$transition-duration;

    &--primary {
        color: vars.$white;
        background-color: vars.$default-orange;

        &:hover {
            background-color: vars.$light-orange;
        }
    }

    &--empty {
        color: vars.$black;
        background-color: transparent;
        border: 1px solid vars.$black;

        &:hover {
            color: vars.$white;
            background-color: vars.$black;
        }
    }

    &--normal {
        color: vars.$white;
        background-color: vars.$black;

        &:hover {
            color: vars.$white;
            background-color: #4c4c4c;
        }
    }
}

.back-btn {
    @include mixins.flex($gap: 1rem, $items: center);
    color: rgba(vars.$black, 0.75);
    padding: 0.25rem 0.5rem;
    font-weight: vars.$medium-weight;
    transition: vars.$transition-duration;

    &__icon {
        transform: rotate(180deg);
        stroke: rgba(vars.$black, 0.35);
        transition: vars.$transition-duration;
    }

    &:hover {
        color: vars.$default-orange;
        .back-btn__icon {
            stroke: vars.$default-orange;
            transform: rotate(180deg) translateX(0.5rem);
        }
    }
}

.cart-btn {
    position: relative;
    padding: 0.25rem;
    display: flex;

    &__counter {
        @include mixins.flex($content: center, $items: center);
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
        background-color: vars.$default-orange;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        color: vars.$white;
    }

    &__item-qty {
        font-size: 0.8rem;
        font-weight: 500;
    }
}
