@use "../1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../1-base/placeholders";

.btn {
    @extend %subtitle;
    @include mixins.flex($gap: 0.5rem, $content: center, $items: center);
    overflow: hidden;
    line-height: 1em;
    padding: 1.125rem 2rem;
    white-space: nowrap;
    outline: none;
    transition:
        color vars.$transition-duration,
        background-color vars.$transition-duration;

    @include mixins.media-mobile {
        padding: 1.125rem 1.5rem;
    }

    &--primary {
        color: vars.$white;
        background-color: vars.$default-orange;

        * {
            stroke: vars.$white;
        }

        &:hover {
            background-color: vars.$light-orange;
        }
    }

    &--empty {
        color: vars.$black;
        background-color: transparent;
        border: 1px solid vars.$black;

        * {
            stroke: vars.$black;
            transition: 0.1s;
        }

        &:hover {
            color: vars.$white;
            background-color: vars.$black;

            * {
                stroke: vars.$white;
            }
        }
    }

    &--normal {
        color: vars.$white;
        background-color: vars.$black;

        &:hover {
            color: vars.$white;
            background-color: #4c4c4c;
        }
    }

    &--thin {
        padding-block: 1rem;
    }

    &--super-thin {
        padding: 0.5rem 1rem;
    }

    &--rounded {
        border-radius: 0.25rem;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.75;

        & > * {
            opacity: 0.75;
        }
    }
}

.back-btn {
    @include mixins.flex($gap: 1rem, $items: center);
    color: rgba(vars.$black, 0.75);
    padding: 0.25rem 0.5rem;
    font-weight: vars.$medium-weight;
    transition: vars.$transition-duration;

    &__icon {
        transform: rotate(180deg);
        stroke: rgba(vars.$black, 0.35);
        transition: vars.$transition-duration;
    }

    &:hover {
        color: vars.$default-orange;
        .back-btn__icon {
            stroke: vars.$default-orange;
            transform: rotate(180deg) translateX(0.5rem);
        }
    }
}

.cart-btn {
    position: relative;
    padding: 0.25rem;
    display: flex;

    * {
        pointer-events: none;
    }

    &__counter {
        @include mixins.flex($content: center, $items: center);
        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
        background-color: vars.$default-orange;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        color: vars.$white;
    }

    &__item-qty {
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.menu-btn {
    padding: 0.25rem;
    display: none;

    * {
        pointer-events: none;
    }

    @include mixins.media-960 {
        display: flex;
    }
}

.btn-loading-overlay {
    @include mixins.flex($content: center, $items: center);
    @extend %show-animation;
    opacity: 0;
    background-color: vars.$light-orange;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
