@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

.mini-cart {
    padding: 2rem;
    background-color: vars.$white;
    border-radius: 0.5rem;
    width: 378px;
    transition:
        opacity 0.35s,
        transform 0.35s;

    @include mixins.media-mobile {
        width: 100%;
        padding: 2rem 1.75rem;
    }

    &--hidden {
        transform: translateY(-25%);
        opacity: 0;
    }

    &__header {
        @include mixins.flex($content: space-between, $items: center);
        margin-bottom: 2rem;
    }

    &__title {
        font-size: vars.$h6-font-size;
        font-weight: vars.$extra-bold-weight;
        letter-spacing: vars.$h6-letter-spacing;
        line-height: vars.$h6-line-height;
    }

    &__clear-btn {
        @extend %grey-text;
        text-decoration: underline;
        font-size: 15px;
        transition: vars.$transition-duration;

        &:hover {
            color: vars.$default-orange;
        }
    }

    &__items {
        @include mixins.flex($gap: 1.5rem, $direction: column);
        margin-bottom: 2rem;
    }

    &__total {
        margin-bottom: 1.5rem;
    }

    &__checkout-btn {
        width: 100%;
        text-align: center;
    }
}

.cart-item {
    @include mixins.flex($items: center, $gap: 1rem);
    @extend %show-animation;

    &__thumb {
        width: 4rem;
        height: 4rem;
        border-radius: 0.5rem;
        flex-shrink: 0;

        @include mixins.media-mobile {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    &__info {
        @include mixins.flex;
        width: 100%;
    }

    &__name {
        white-space: nowrap;
        font-weight: vars.$extra-bold-weight;
    }

    &__price {
        font-size: 0.875rem;
        white-space: nowrap;
        font-weight: vars.$extra-bold-weight;
        color: rgba(vars.$black, 0.5);
    }

    &__qty {
        color: rgba(vars.$black, 0.5);
        font-weight: vars.$extra-bold-weight;
        margin-left: auto;
    }

    &__counter {
        height: 2rem;
        margin-left: auto;

        & button {
            padding: 0 0.75rem;
        }

        & p {
            width: 2.125rem;
        }
    }
}

.summary-field {
    @include mixins.flex($content: space-between, $gap: 2rem);
    @extend %show-animation;

    &__name,
    &__value {
        white-space: nowrap;
    }

    &__name {
        color: rgba(vars.$black, 0.5);
        font-weight: vars.$bold-weight;
    }

    &__value {
        font-size: vars.$h6-font-size;
        font-weight: vars.$extra-bold-weight;
    }
}
