@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

.category {
    position: relative;
    background-color: vars.$very-light-grey;
    border-radius: 0.5rem;
    padding: 0 2rem 2rem;

    @include mixins.media-tablet {
        padding: 0 1rem 1.5rem;
    }

    @include mixins.media-mobile {
        padding: 0 1rem 1.5rem;
    }

    &:hover {
        .category__thumb {
            transform: translateY(-12%);
        }

        .category__thumb-container::before {
            width: 100%;
        }
    }

    &__info {
        @include mixins.flex($gap: 1rem, $items: center, $direction: column);
        margin-top: 116px;

        @include mixins.media-tablet {
            margin-top: 88px;
        }

        @include mixins.media-mobile {
            margin-top: 88px;
        }
    }

    &__thumb-container {
        @include mixins.flex($items: center);
        position: absolute;
        top: 0;
        left: 50%;
        max-width: 125px;
        min-width: 103px;
        transform: translate(-50%, -50%);

        @include mixins.media-tablet {
            min-width: auto;
            width: 84px;
        }

        @include mixins.media-mobile {
            min-width: auto;
            width: 84px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 1.125rem;
            border-radius: 50%;
            background-color: vars.$black;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 25%);
            filter: blur(20px);
            transition: width vars.$transition-duration;
        }
    }

    &__thumb {
        position: relative;
        height: fit-content;
        width: 100%;
        object-fit: contain;
        transition: transform vars.$transition-duration;
    }

    &__name {
        font-size: vars.$h6-font-size;
        letter-spacing: vars.$h6-letter-spacing;
        line-height: 1em;
        font-weight: 700;
        word-break: break-all;
        text-align: center;

        @include mixins.media-tablet {
            font-size: vars.$text-font-size;
        }

        @include mixins.media-mobile {
            font-size: vars.$text-font-size;
        }
    }

    &__link {
        @extend %subtitle;
        @include mixins.flex($gap: 0.8125rem);
        color: rgba(vars.$black, 0.5);
        transition: color vars.$transition-duration;
        padding: 0 0.5rem;

        &:hover {
            color: vars.$default-orange;

            .category__arrow-icon {
                transform: translateX(0.5rem);
            }
        }
    }

    &__arrow-icon {
        transition: transform vars.$transition-duration;
    }
}
