@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

.counter {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: vars.$very-light-grey;

    &--disabled {
        opacity: 0.75;
    }

    &--disabled > &__action-btn,
    &--disabled > &__display {
        pointer-events: none;
    }

    &__action-btn {
        @extend %subtitle;
        padding: 0 1rem;
        color: rgba(vars.$black, 0.5);
        transition: color vars.$transition-duration;

        &:hover {
            color: vars.$default-orange;
        }
    }

    &__display {
        @extend %subtitle;
        height: fit-content;
        overflow: hidden;
        width: 2.75rem;
        text-align: center;
        text-overflow: ellipsis;
    }
}
