@use "../1-base/variables" as vars;
@use "../1-base/placeholders";

//Campo de input
.field {
    $icon-size: 1.35rem;
    $icon-right-position: 1.5rem;

    &__label-wrapper {
        margin-bottom: 0.5rem;
    }

    &__label {
        white-space: nowrap;
        display: block;
        font-size: 0.75rem;
        font-weight: vars.$extra-bold-weight;

        &--error {
            color: vars.$red;
        }
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        @extend %input-field;
        border: 1px solid #cfcfcf;
        border-radius: 0.5rem;
        width: 100%;
        transition: border-color vars.$transition-duration;
        caret-color: vars.$default-orange;

        &--password {
            $padding-right: 1rem + $icon-size + $icon-right-position;
            padding: 1rem $padding-right 1rem 1.5rem;
        }

        &--error {
            border-color: vars.$red;
            border-width: 0.125rem;
        }
    }

    &__input-icon {
        width: $icon-size;
        height: $icon-size;
        stroke: #444444;
    }

    &__action-btn {
        display: flex;
        position: absolute;
        right: $icon-right-position;
        top: 50%;
        padding: 0.25rem;
        transform: translateY(-50%);
    }

    &__error-msg {
        @extend %show-animation;
        color: vars.$red;
        font-size: 0.75rem;
        font-weight: vars.$bold-weight;
        margin-top: 0.5rem;
    }
}
