@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

%common-icon {
    width: 1.125rem;
    height: 1.125rem;
    transition: vars.$transition-duration;
}

//Overlay do modal do menu para dispositivos móveis
.mobile-menu-overlay {
    display: none;

    @include mixins.media-960 {
        display: block;
    }

    @include mixins.media-mobile {
        padding-inline: 0;
        padding-top: 82px;
    }

    > .overlay__inner {
        justify-content: center;
    }
}

//Menu de navegação para dispositivos móveis
.mobile-menu {
    position: relative;
    display: none;
    padding: 2rem;
    background-color: vars.$matte-white;
    border-radius: 0.5rem;
    overflow: hidden;

    transition:
        opacity 0.35s,
        visibility 0.35s,
        transform 0.35s,
        max-height 0.35s;

    @include mixins.media-960 {
        display: block;
    }

    @include mixins.media-mobile {
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 2rem 1.5rem;
        flex-grow: 1;
    }

    &--hidden {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transform: scale(0.7);
    }

    &__categories {
        @include mixins.flex($gap: 2rem, $direction: column);
    }

    &__separator {
        width: 100%;
        height: 1px;
        display: block;
        background-color: darken(vars.$very-light-grey, $amount: 10);
        margin: 1.5rem 0 2rem;
    }

    &__user-actions {
        @include mixins.flex($gap: 1.25rem, $items: center);

        @include mixins.media-420 {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }

    &__title {
        line-height: calc(1em + 0.5rem);
        letter-spacing: 0;
        font-size: 1.125rem;
        color: lighten(vars.$matte-black, 5);
    }

    &__links {
        @include mixins.flex($gap: 1rem);
        margin-top: 0.5rem;
    }

    &__user-link {
        @include mixins.flex($items: center, $gap: 0.25rem);
        position: relative;
        color: lighten(vars.$matte-black, 5);
        font-size: 1rem;
        font-weight: 400;
        transition: color vars.$transition-duration;

        &:hover {
            color: vars.$default-orange;

            .mobile-menu__auth-icon {
                stroke: vars.$default-orange;
            }
        }
    }

    &__auth-icon {
        @extend %common-icon;
        stroke: lighten(vars.$matte-black, 5);
        stroke-width: 1.65;
    }

    &__user-icon {
        @extend %common-icon;
    }
}

//Link de categoria de produto
.mobile-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: min-content auto 1fr;
    align-items: center;
    justify-content: center;
    background-color: vars.$very-light-grey;
    border-radius: 0.5rem;
    padding: 1rem 2rem;

    &__thumb-box {
        @include mixins.flex($items: center);
        width: 64px;
        height: 80px;
    }

    &__thumb {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    &__info {
        @include mixins.flex($gap: 1rem, $items: center, $direction: column);
        grid-column: 2/4;
    }

    &__name {
        font-size: vars.$text-font-size;
        line-height: 1em;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
    }
}
