@use "../1-base/mixins" as mixins;
@use "../1-base/variables" as vars;
@use "../1-base/placeholders";

//Barra de navegação principal
.navbar {
    &__link-list {
        @include mixins.flex($gap: 2.125rem);
    }

    &__link {
        position: relative;
        font-size: 0.8125rem;
        padding: 0.25rem 0;
        letter-spacing: 2px;
        font-weight: vars.$bold-weight;
        color: vars.$white;
        transition: color vars.$transition-duration;

        &:hover {
            color: vars.$default-orange;
        }
    }

    @include mixins.media-960 {
        display: none;
    }
}

//Links da barra de navegação
.nav-link {
    position: relative;
    font-size: 0.8125rem;
    padding: 0.25rem 0;
    letter-spacing: 2px;
    font-weight: vars.$bold-weight;
    color: vars.$white;
    transition: color vars.$transition-duration;

    &:focus-visible {
        outline-color: vars.$very-light-grey;
    }

    &:hover,
    &:focus-visible {
        color: vars.$default-orange;
    }

    &__marker {
        @extend %show-animation;
        position: absolute;
        top: 100%;
        display: block;
        width: 100%;
        height: 0.125rem;
        background-color: vars.$default-orange;
        border-radius: 1rem;
        opacity: 0;
    }
}
