@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

//Estilos dos itens que representam o produto e o preview do produto
.product,
.preview {
    display: grid;
    grid-template-columns: minmax(280px, 540px) auto;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.75rem;

    &__img {
        @extend %full-width-height;
        display: none;
        border-radius: 0.5rem;
        object-fit: cover;
    }

    &__img--desktop {
        @include mixins.media-desktop {
            display: block;
        }
    }

    &__img--tablet {
        @include mixins.media-tablet {
            display: block;
        }

        @include mixins.media-mobile {
            display: none;
        }
    }

    &__img--mobile {
        @include mixins.media-mobile {
            display: block;
        }
    }

    &__info {
        align-self: center;
        max-width: 450px;
    }

    &__name {
        font-weight: vars.$extra-bold-weight;
        font-size: vars.$h2-font-size;
        line-height: vars.$h2-line-height;
        letter-spacing: vars.$h2-letter-spacing;
    }

    &__label {
        @extend %overline-text;
        margin-bottom: 1rem;
        display: block;
        color: vars.$default-orange;

        @include mixins.media-mobile {
            margin-bottom: 1.5rem;
        }
    }

    &__description {
        @extend %grey-text;
        margin-top: 2rem;

        @include mixins.media-mobile {
            margin-top: 1.5rem;
        }
    }
}

.preview {
    @include mixins.media-tablet {
        grid-template-columns: auto;
        grid-template-rows: 350px auto;
        justify-items: center;
        gap: 3rem;
    }

    @include mixins.media-mobile {
        gap: 2rem;
    }

    &--reverse {
        grid-template-columns: auto minmax(280px, 540px);

        @include mixins.media-tablet {
            grid-template-columns: auto;
        }
    }

    &--reverse > &__img-box {
        grid-column: 2/3;

        @include mixins.media-tablet {
            grid-column: 1/3;
        }
    }

    &--reverse > &__info {
        grid-row: 1;
        grid-column: 1/2;

        @include mixins.media-tablet {
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }

    &__img-box {
        @include mixins.media-tablet {
            width: 100%;
        }
    }

    &__info {
        @include mixins.media-tablet {
            max-width: 570px;
        }
    }

    &__name {
        @include mixins.media-tablet {
            text-align: center;
        }

        @include mixins.media-mobile {
            font-size: 1.75rem;
            line-height: 2.3rem;
            letter-spacing: 1px;
        }
    }

    &__label {
        @include mixins.media-tablet {
            text-align: center;
        }
    }

    &__description {
        @include mixins.media-tablet {
            text-align: center;
        }
    }

    &__product-link {
        margin: 2.5rem 0 0;

        @include mixins.media-tablet {
            margin: 1.5rem auto 0;
        }
    }
}

.product {
    @include mixins.media-tablet {
        grid-template-columns: minmax(0, 280px) 1fr;
        gap: 3rem;
    }

    @include mixins.media-mobile {
        grid-template-columns: auto;
        grid-template-rows: 325px auto;
        gap: 2rem;
    }

    &__info {
        @include mixins.media-tablet {
            max-width: unset;
        }
    }

    &__name {
        @include mixins.media-tablet {
            font-size: 1.75rem;
            line-height: 2rem;
            letter-spacing: 1px;
        }
    }

    &__label {
        @include mixins.media-tablet {
            font-size: 0.75rem;
        }

        @include mixins.media-mobile {
            font-size: 0.875rem;
        }
    }

    &__price {
        font-size: vars.$h6-font-size;
        letter-spacing: vars.$h6-letter-spacing;
        font-weight: vars.$extra-bold-weight;
        margin-top: 2rem;

        @include mixins.media-mobile {
            margin-top: 1.5rem;
        }
    }

    &__cart-actions {
        @include mixins.flex($gap: 1.5rem);
        margin-top: 3rem;

        @include mixins.media-tablet {
            margin-top: 2rem;
            gap: 1rem;
        }
    }
}
