@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;

.section-content {
    padding: 3.375rem 3rem 3rem;
    background-color: vars.$white;
    border-radius: 0.5rem;
    box-shadow: vars.$light-shadow;

    @include mixins.media-tablet {
        padding: 2.5rem 2rem 2rem;
    }

    @include mixins.media-mobile {
        padding: 1.5rem 1.5rem 2rem;
    }
}
