@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

%skeleton-box {
    @extend %show-animation;
    overflow: hidden;
    position: relative;
    background-color: #e6e6e6;
    opacity: 0;
}

%shimmer-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(vars.$white, 0) 0,
        rgba(vars.$white, 0.25) 20%,
        rgba(vars.$white, 0.5) 70%,
        rgba(vars.$white, 0)
    );
    animation: shimmer 1.25s infinite linear;
}

//Loadings do tipo skeleton
.cart-item-skeleton {
    @include mixins.flex($gap: 1.25rem, $items: center);

    &__img-loader {
        @extend %skeleton-box;
        flex-shrink: 0;
        border-radius: 0.5rem;
        width: 4rem;
        height: 4rem;

        &::after {
            @extend %shimmer-bg;
        }
    }

    &__info-loader {
        @extend %skeleton-box;
        border-radius: 0.25rem;
        height: 2.75rem;
        width: 100%;

        &::after {
            @extend %shimmer-bg;
        }
    }
}

.summary-skeleton {
    &__fields {
        @include mixins.flex($gap: 1rem, $direction: column);
    }

    &__field-loader,
    &__total-loader {
        @extend %skeleton-box;
        border-radius: 0.25rem;
        height: 1.25rem;
        min-width: 236px;

        &::after {
            @extend %shimmer-bg;
        }
    }

    &__total-loader {
        height: 1.75rem;
        display: block;
        margin: 1.5rem 0 2rem;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
