@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;
@use "../1-base/placeholders";

%text-default-styles {
    color: rgba(vars.$white, 0.9);
    font-size: 0.9rem;
    white-space: nowrap;
}

.user-actions {
    @include mixins.flex($gap: 0.5rem, $items: flex-start);

    @include mixins.media-960 {
        display: none;
    }

    &--hidden {
        visibility: hidden;
    }

    &__name {
        @extend %text-default-styles;
        font-weight: vars.$bold-weight;
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__wrapper {
        @include mixins.flex($gap: 0.25rem, $items: center);

        & > span {
            @extend %text-default-styles;
        }
    }

    &__action,
    &__auth-link {
        @extend %text-default-styles;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition:
            text-decoration-color 0.1s,
            color 0.1s;

        &:focus-visible {
            outline-color: vars.$very-light-grey;
        }

        &:hover,
        &:focus-visible {
            text-decoration-color: vars.$white;
            color: #ffffff;
        }
    }

    &__auth {
        display: flex;
        flex-direction: column;
        span {
            @extend %text-default-styles;
        }
    }

    &__auth-link {
        display: inline-block;
    }
}

.avatar-circle {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border: 2px solid rgba($color: vars.$white, $alpha: 0.5);
    border-radius: 50%;
    overflow: hidden;

    &--mobile {
        width: 3.5rem;
        height: 3.5rem;
        border-color: darken(vars.$very-light-grey, $amount: 30);
    }

    &__img {
        @extend %full-width-height;
        object-fit: cover;
    }
}
