@mixin flex($direction: row, $gap: 0, $content: flex-start, $items: stretch) {
    display: flex;
    @if $items !=stretch {
        align-items: $items;
    }
    @if $content !=flex-start {
        justify-content: $content;
    }
    @if $direction !=row {
        flex-direction: $direction;
    }
    @if $gap!=0 {
        gap: $gap;
    }
}

@mixin media-960() {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin media-620 {
    @media only screen and (max-width: 620px) {
        @content;
    }
}

@mixin media-desktop() {
    @media only screen and (min-width: 769px) {
        @content;
    }
}

@mixin media-tablet() {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-mobile() {
    @media only screen and (max-width: 560px) {
        @content;
    }
}
