@use "./variables" as vars;
@use "./mixins" as mixins;

%division {
    position: absolute;
    width: 100%;
    background-color: rgba(vars.$white, 0.2);
    height: 2px;
    z-index: 10;
    top: 0;
    left: 0;
}

%overline-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 10px;
    font-weight: vars.$regular-weight;
}

%subtitle {
    font-size: 0.8125rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-weight: vars.$extra-bold-weight;
}

%inner-container {
    max-width: 1110px;
    margin: 0 auto;
}

%full-width-height {
    width: 100%;
    height: 100%;
}

%section-padding {
    padding: 0 2.5rem;

    @include mixins.media-mobile {
        padding: 0 1.5rem;
    }
}

%grey-text {
    font-weight: vars.$medium-weight;
    color: rgba(vars.$black, 0.5);
}

%input-field {
    padding: 1.125rem 1.5rem;
    font-size: 0.875rem;
    font-weight: vars.$bold-weight;

    &::placeholder {
        color: rgba(vars.$black, 0.4);
    }

    &:focus {
        border-color: vars.$default-orange;
    }
}

%show-animation {
    opacity: 0;
    animation: show-up vars.$transition-duration forwards;
}

@keyframes show-up {
    100% {
        opacity: 100%;
    }
}
