%overline-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 10px;
    font-weight: normal;
}

%subtitle {
    font-size: 0.8125;
    line-height: 1.5rem;
    font-weight: bold;
}
