//Cores
$black: #000000;
$matte-black: #101010;
$very-light-grey: #f1f1f1;
$matte-white: #fafafa;
$white: #ffffff;
$default-orange: #d87d4a;
$light-orange: #fbaf85;
$red: #cd2c2c;

//Tipografia
$font-manrope: "Manrope", sans-serif;

$extra-bold-weight: 700;
$bold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;

$h1-font-size: 3.5rem;
$h1-line-height: 3.625rem;
$h1-letter-spacing: 2px;

$h2-font-size: 2.5rem;
$h2-line-height: 2.75rem;
$h2-letter-spacing: 1.5px;

$h3-font-size: 2rem;
$h3-line-height: 2.25rem;
$h3-letter-spacing: 1.15px;

$h4-font-size: 1.75rem;
$h4-line-height: 2.375rem;
$h4-letter-spacing: 2px;

$h5-font-size: 1.5rem;
$h5-line-height: 2.06rem;
$h5-letter-spacing: 1.7px;

$h6-font-size: 1.125rem;
$h6-line-height: 1.5rem;
$h6-letter-spacing: 1.3px;

$text-font-size: 0.9375rem;
$text-line-height: 1.5625rem;

//Outros
$transition-duration: 0.3s;
$light-shadow: 2px 2px 6px #dfdfdf;
