@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.title-section {
    @extend %section-padding;
    background-color: vars.$black;
    position: relative;

    &__inner-container {
        @extend %inner-container;
        position: relative;
        padding: 98px 0;

        @include mixins.media-mobile {
            padding: 32px 0;
            position: static;
        }
    }

    &__division {
        @extend %division;
    }

    &__title {
        color: vars.$white;
        font-size: vars.$h2-font-size;
        line-height: 1em;
        text-align: center;

        @include mixins.media-mobile {
            font-size: 1.75rem;
            line-height: 2.3rem;
        }
    }
}

.previews {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        @include mixins.flex($gap: 160px, $direction: column);
        margin-top: 160px;

        @include mixins.media-tablet {
            margin-top: 120px;
            gap: 120px;
        }

        @include mixins.media-mobile {
            margin-top: 64px;
        }
    }
}
