@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.title-section {
    padding: 0 2rem;
    background-color: vars.$black;

    &__inner-container {
        @extend %inner-container;
        padding: 98px 0;
    }

    &__title {
        color: vars.$white;
        font-size: vars.$h2-font-size;
        line-height: 1em;
        text-align: center;
    }
}

.previews {
    padding: 0 2rem;
    background-color: vars.$matte-white;

    &__inner-container {
        @extend %inner-container;
        @include mixins.flex($gap: 160px, $direction: column);
        margin-top: 160px;
    }
}

.product {
    @include mixins.flex($gap: 2rem, $content: space-between, $items: center);

    &--reverse {
        flex-direction: row-reverse;
    }

    &__img-box {
        max-width: 540px;
        flex-shrink: 1;
    }

    &__img {
        @extend %full-width-height;
        border-radius: 0.5rem;
    }

    &__info {
        width: 40%;
        flex-shrink: 0;
    }

    &__name {
        font-weight: vars.$extra-bold-weight;
    }

    &__label {
        @extend %overline-text;
        display: block;
        color: vars.$default-orange;
        margin-bottom: 1rem;
    }

    &__description {
        color: rgba(vars.$black, 0.5);
        font-weight: vars.$medium-weight;
        margin-top: 2rem;
    }

    &__link {
        margin-top: 2.5rem;
    }
}
