@use "../../scss/1-base/_variables.scss" as vars;
@use "../../scss/1-base/_mixins.scss" as mixins;
@use "../../scss/1-base/_placeholders.scss";

%checkout-fieldset {
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.checkout-page-container {
    background-color: vars.$very-light-grey;
}

.checkout-section {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        margin: 2.375rem auto 8.8125rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;

        @include mixins.media-960 {
            grid-template-columns: auto;
        }

        @include mixins.media-tablet {
            margin: 1.5rem auto 7.25rem;
        }

        @include mixins.media-mobile {
            margin: 1.5rem auto 6.125rem;
        }
    }
}

.checkout {
    padding: 3.375rem 3rem 3rem;
    background-color: vars.$white;
    border-radius: 0.5rem;
    box-shadow: vars.$light-shadow;

    @include mixins.media-tablet {
        padding: 2.5rem 2rem 2rem;
    }

    @include mixins.media-mobile {
        padding: 1.5rem 1.5rem 2rem;
    }

    &__title {
        font-size: vars.$h3-font-size;
        letter-spacing: vars.$h3-letter-spacing;
        font-weight: vars.$extra-bold-weight;

        @include mixins.media-mobile {
            font-size: 1.75rem;
            line-height: 2.3rem;
        }
    }

    &__form {
        margin-top: 2.5rem;

        @include mixins.media-mobile {
            margin-top: 2rem;
        }
    }

    &__user-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__group-name {
        @extend %subtitle;
        margin-bottom: 1rem;
        color: vars.$default-orange;
    }

    &__billing-details,
    &__shipping-details,
    &__payment-details {
        @include mixins.media-mobile {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
    }

    &__billing-details {
        @extend %checkout-fieldset;
        margin-bottom: 3.375rem;

        @include mixins.media-mobile {
            margin-bottom: 2rem;
        }
    }

    &__shipping-details {
        @extend %checkout-fieldset;
        margin-bottom: 3.75rem;

        & > *:nth-child(2) {
            grid-column: span 2;
        }

        @include mixins.media-mobile {
            margin-bottom: 2rem;

            & > *:nth-child(2) {
                grid-column: auto;
            }
        }
    }

    &__payment-details {
        @extend %checkout-fieldset;

        @include mixins.media-mobile {
            gap: 2rem;
        }
    }

    &__payment-methods {
        @include mixins.flex($gap: 1rem, $content: stretch);
        grid-column: span 2;

        & > * {
            flex-grow: 1;
        }

        @include mixins.media-mobile {
            flex-direction: column;
            grid-column: auto;
        }
    }

    &__cc-fields {
        @extend %show-animation;
        @extend %checkout-fieldset;
        grid-column: span 2;

        & > *:first-child {
            grid-column: span 2;
        }

        @include mixins.media-mobile {
            grid-column: auto;

            & > * {
                grid-column: span 2;
            }
        }
    }

    &__expdate {
        @include mixins.flex($gap: 0.5rem);
    }

    &__expdate-label {
        margin-bottom: 0.5rem;
        display: block;
        font-size: 0.75rem;
        font-weight: vars.$extra-bold-weight;

        &--error {
            color: vars.$red;
        }
    }

    &__cash-guidance {
        @extend %show-animation;
        @include mixins.flex($gap: 2rem, $items: center);
        margin-top: 1.5rem;

        @include mixins.media-mobile {
            margin-top: 2rem;
        }
    }

    &__cash-icon {
        flex-shrink: 0;
    }

    &__cash-info {
        @extend %grey-text;
    }
}

.summary {
    height: fit-content;
    background-color: vars.$white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: vars.$light-shadow;

    @include mixins.media-mobile {
        padding: 2rem 1.5rem;
    }

    &__title {
        font-size: vars.$h6-font-size;
        font-weight: vars.$extra-bold-weight;
        letter-spacing: vars.$h6-letter-spacing;
        line-height: vars.$h6-line-height;
        margin-bottom: 2rem;
    }

    &__items {
        @include mixins.flex($gap: 1.5rem, $direction: column);
        margin-bottom: 2rem;
    }

    &__total-fields {
        @include mixins.flex($direction: column, $gap: 0.5rem);
    }

    &__grand-total {
        margin: 1.5rem 0 2rem;

        span:last-child {
            color: vars.$default-orange;
        }
    }

    &__submit-btn {
        position: relative;
        text-align: center;
        width: 100%;
    }
}

.radio-field {
    &__input {
        accent-color: vars.$default-orange;
    }

    &__label {
        @include mixins.flex($gap: 1rem, $items: center);
        border: 1px solid #cfcfcf;
        padding: 1.125rem 1rem;
        border-radius: 0.5rem;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: vars.$bold-weight;
        transition: border-color vars.$transition-duration;
        cursor: pointer;

        &--checked {
            border-color: vars.$default-orange;
        }
    }
}

.order-confirmation {
    @extend %show-animation;
    @extend %section-padding;
    background-color: rgba(vars.$black, 0.4);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    visibility: hidden;
    opacity: 0;

    hr {
        border-color: rgba(vars.$black, 0.1);
    }

    &__inner-container {
        @extend %inner-container;
        margin-top: 200px;
    }

    &__modal {
        transform: scale(0.5) translateY(20%);
        max-width: 540px;
        margin: 0 auto;
        padding: 3rem;
        background-color: vars.$white;
        border-radius: 0.5rem;
        animation: grow forwards ease-in-out 0.3s;

        @include mixins.media-mobile {
            padding: 2rem;
        }
    }

    &__title {
        margin-top: 2rem;
        font-weight: vars.$extra-bold-weight;

        @include mixins.media-mobile {
            margin-top: 1.5rem;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
    }

    &__message {
        @extend %grey-text;
        margin-top: 1.5rem;

        @include mixins.media-mobile {
            margin-top: 1rem;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        background-color: vars.$very-light-grey;
        border-radius: 0.5rem;
        margin-top: 2rem;
        overflow: hidden;

        @include mixins.media-mobile {
            grid-template-columns: 1fr;
            margin-top: 1.5rem;
        }
    }

    &__wrapper {
        @include mixins.flex($direction: column, $content: center, $gap: 0.5rem);
        padding: 1.5rem;
    }

    &__items {
        @include mixins.flex($direction: column);
        overflow: hidden;
    }

    & .cart-item__info {
        gap: 1rem;

        @include mixins.media-mobile {
            gap: 0;
        }
    }

    &__toggle-btn {
        font-weight: vars.$extra-bold-weight;
        color: rgba(vars.$black, 0.5);
        margin: 0 auto;
        font-size: 0.8125rem;
    }

    &__total {
        @include mixins.flex($direction: column, $content: flex-end, $gap: 0.5rem);
        padding: 2.625rem 2rem;
        background-color: vars.$black;

        @include mixins.media-tablet {
            padding: 1.5rem;
        }
    }

    &__total-label {
        color: rgba(vars.$white, 0.5);
    }

    &__total-value {
        overflow: hidden;
        color: vars.$white;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__exit-btn {
        width: 100%;
        margin-top: 2.875rem;
        text-align: center;

        @include mixins.media-mobile {
            margin-top: 1.5rem;
        }
    }
}

//Alterando alguns estilos da lib 'react-international-phone
.react-international-phone-input-container {
    border-radius: 0.5rem;
    border: 1px solid #cfcfcf;
    transition: border-color vars.$transition-duration;

    &:focus-within {
        border-color: vars.$default-orange;

        & .react-international-phone-country-selector-button {
            border-right-color: vars.$default-orange;
        }
    }

    & .react-international-phone-input {
        @extend %input-field;
        border: none;
        height: auto;
        width: 100%;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    & .react-international-phone-country-selector-button {
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        border-right: 1px solid #cfcfcf;
        height: 100%;
        padding: 0rem 0.75rem;
        transition: vars.$transition-duration;
    }
}

.react-international-phone--error {
    border: 0.125rem solid vars.$red;
}

@keyframes grow {
    100% {
        transform: scale(1) translateX(0);
    }
}
