@use "../../scss/1-base/_variables.scss" as vars;
@use "../../scss/1-base/_mixins.scss" as mixins;
@use "../../scss/1-base/_placeholders.scss";

%checkout-input {
    padding: 1.125rem 1.5rem;
    font-size: 0.875rem;
    font-weight: vars.$bold-weight;

    &::placeholder {
        color: rgba(vars.$black, 0.4);
    }

    &:focus {
        border-color: vars.$default-orange;
    }
}

%checkout-fieldset {
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: repeat(2, 1fr);
}

%show-animation {
    opacity: 0;
    animation: show vars.$transition-duration forwards;
}

.checkout-page-container {
    background-color: vars.$very-light-grey;
}

.checkout-section {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        margin-top: 2.375rem;
        margin-bottom: 8.8125rem;
        display: grid;
        grid-template-columns: 2.1fr 1fr;
        gap: 1.875rem;
    }
}

.checkout {
    padding: 3.375rem 3rem 3rem;
    background-color: vars.$white;
    border-radius: 0.5rem;

    &__title {
        font-size: vars.$h3-font-size;
        letter-spacing: vars.$h3-letter-spacing;
        font-weight: vars.$extra-bold-weight;
    }

    &__form {
        margin-top: 2.5rem;
    }

    &__user-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__group-name {
        @extend %subtitle;
        margin-bottom: 1rem;
        color: vars.$default-orange;
    }

    &__billing-details {
        @extend %checkout-fieldset;
        margin-bottom: 3.375rem;
    }

    &__shipping-details {
        @extend %checkout-fieldset;
        margin-bottom: 3.75rem;

        & > *:nth-child(2) {
            grid-column: span 2;
        }
    }

    &__payment-details {
        @extend %checkout-fieldset;
    }

    &__cc-fields {
        @extend %show-animation;
        @extend %checkout-fieldset;
        grid-column: span 2;

        & > *:first-child {
            grid-column: span 2;
        }
    }

    &__expdate {
        @include mixins.flex($gap: 0.5rem);
    }

    &__expdate-label {
        margin-bottom: 0.5rem;
        display: block;
        font-size: 0.75rem;
        font-weight: vars.$extra-bold-weight;

        &--error {
            color: vars.$red;
        }
    }

    &__cash-guidance {
        @extend %show-animation;
        @include mixins.flex($gap: 2rem, $items: center);
        margin-top: 1.875rem;
    }

    &__cash-icon {
        flex-shrink: 0;
    }

    &__cash-info {
        @extend %grey-text;
    }
}

.summary {
    height: fit-content;
    background-color: vars.$white;
    border-radius: 0.5rem;
    padding: 2rem;

    &__title {
        font-size: vars.$h6-font-size;
        font-weight: vars.$extra-bold-weight;
        letter-spacing: vars.$h6-letter-spacing;
        margin-bottom: 2rem;
    }

    &__items {
        @include mixins.flex($gap: 1.5rem, $direction: column);
        margin-bottom: 2rem;
    }

    &__total-fields {
        @include mixins.flex($direction: column, $gap: 0.5rem);
    }

    &__grand-total {
        margin: 1.5rem 0 2rem;

        span:last-child {
            color: vars.$default-orange;
        }
    }

    &__submit-btn {
        text-align: center;
        width: 100%;
    }
}

.field {
    &__label-wrapper {
        margin-bottom: 0.5rem;
    }

    &__label {
        white-space: nowrap;
        display: block;
        font-size: 0.75rem;
        font-weight: vars.$extra-bold-weight;

        &--error {
            color: vars.$red;
        }
    }

    &__input {
        @extend %checkout-input;
        border: 1px solid #cfcfcf;
        padding: 1.125rem 1.5rem;
        border-radius: 0.5rem;
        width: 100%;
        transition: border-color vars.$transition-duration;
        caret-color: vars.$default-orange;

        &--error {
            border-color: vars.$red;
            border-width: 0.125rem;
        }
    }

    &__error-msg {
        @extend %show-animation;
        color: vars.$red;
        font-size: 0.75rem;
        font-weight: vars.$bold-weight;
        margin-top: 0.5rem;
    }
}

.radio-field {
    &__input {
        accent-color: vars.$default-orange;
    }

    &__label {
        @include mixins.flex($gap: 1rem, $items: center);
        border: 1px solid #cfcfcf;
        padding: 1.125rem 1rem;
        border-radius: 0.5rem;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: vars.$bold-weight;
        transition: border-color vars.$transition-duration;
        cursor: pointer;

        &--checked {
            border-color: vars.$default-orange;
        }
    }
}

.order-confirmation {
    @extend %section-padding;
    @extend %full-width-height;
    background-color: rgba(vars.$black, 0.4);
    position: absolute;
    z-index: 10;
    top: 0;
    visibility: hidden;

    hr {
        border-color: rgba(vars.$black, 0.1);
    }

    &__inner-container {
        @extend %inner-container;
        margin-top: 220px;
    }

    &__modal {
        width: fit-content;
        margin: 0 auto;
        padding: 3rem;
        background-color: vars.$white;
        border-radius: 0.5rem;
    }

    &__title {
        margin-top: 2rem;
        font-weight: vars.$extra-bold-weight;
    }

    &__message {
        @extend %grey-text;
        margin-top: 1.5rem;
    }

    &__details {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        background-color: vars.$very-light-grey;
        border-radius: 0.5rem;
        margin-top: 2rem;
        overflow: hidden;
    }

    &__wrapper {
        @include mixins.flex($direction: column, $content: flex-end, $gap: 0.75rem);
        padding: 1.5rem;
    }

    &__items {
        @include mixins.flex($direction: column, $gap: 1rem);
    }

    &__toggle-btn {
        font-weight: vars.$extra-bold-weight;
        color: rgba(vars.$black, 0.5);
        margin: 0 auto;
        font-size: 0.8125rem;
    }

    &__total {
        @include mixins.flex($direction: column, $content: flex-end, $gap: 0.5rem);
        padding: 2.625rem 2rem;
        background-color: vars.$black;
    }

    &__total-label {
        color: rgba(vars.$white, 0.5);
    }

    &__total-value {
        color: vars.$white;
    }

    &__exit-btn {
        width: 100%;
        margin-top: 2.875rem;
        text-align: center;
    }
}

//Alterando alguns estilos da lib 'react-international-phone
.react-international-phone-input-container {
    border-radius: 0.5rem;
    border: 1px solid #cfcfcf;
    transition: border-color vars.$transition-duration;

    &:focus-within {
        border-color: vars.$default-orange;

        & .react-international-phone-country-selector-button {
            border-right-color: vars.$default-orange;
        }
    }

    & .react-international-phone-input {
        @extend %checkout-input;
        border: none;
        height: auto;
        width: 100%;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    & .react-international-phone-country-selector-button {
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        border-right: 1px solid #cfcfcf;
        height: 100%;
        padding: 0rem 0.75rem;
        transition: vars.$transition-duration;
    }
}

.react-international-phone--error {
    border: 0.125rem solid vars.$red;
}

@keyframes show-error {
    100% {
        opacity: 100%;
    }
}
