@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.product-section {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        display: flex;
        flex-direction: column;
        gap: 160px;
        margin-top: 3.5rem;

        @include mixins.media-tablet {
            margin-top: 1.5rem;
            gap: 120px;
        }

        @include mixins.media-mobile {
            gap: 88px;
        }
    }
}

.product-details {
    display: grid;
    grid-template-columns: 57% 30%;
    justify-content: space-between;

    @include mixins.media-tablet {
        grid-template-columns: auto;
        gap: 120px;
    }

    @include mixins.media-mobile {
        gap: 88px;
    }

    &__wrapper,
    &__about {
        @include mixins.flex($gap: 2rem, $direction: column);

        @include mixins.media-mobile {
            gap: 1.5rem;
        }
    }

    &__wrapper {
        @include mixins.media-tablet {
            flex-direction: row;
            justify-content: space-between;
        }

        @include mixins.media-mobile {
            flex-direction: column;
        }
    }

    &__title {
        font-size: vars.$h3-font-size;
        line-height: vars.$h3-line-height;
        font-weight: vars.$extra-bold-weight;
        letter-spacing: vars.$h3-letter-spacing;
        white-space: nowrap;

        @include mixins.media-mobile {
            font-size: 1.5rem;
            letter-spacing: 1px;
        }
    }

    &__text {
        @extend %grey-text;
    }

    &__accessories {
        @include mixins.flex($direction: column, $gap: 0.75rem);
    }

    &__accessory {
        @extend %grey-text;
        font-size: vars.$text-font-size;
    }

    &__qty {
        margin-right: 1.5rem;
        color: vars.$default-orange;
        font-weight: vars.$extra-bold-weight;
    }
}

.gallery {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        margin-top: 160px;
        display: grid;
        gap: 2rem 1.875rem;
        grid-template-rows: repeat(2, 280px);

        @include mixins.media-tablet {
            margin-top: 120px;
            grid-template-rows: repeat(2, 174px);
            gap: 1.25rem;
        }

        @include mixins.media-mobile {
            grid-template-columns: auto;
            grid-template-rows: 174px 174px 368px;
        }
    }

    &__small-item {
        grid-column: 1/2;
        grid-row: span 1;
    }

    &__large-item {
        grid-column: 2/3;
        grid-row: 1 / span 2;
    }

    &__small-item,
    &__large-item {
        @include mixins.media-mobile {
            grid-column: auto;
            grid-row: auto;
        }
    }

    &__image {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        border-radius: 0.5rem;
    }

    &__image--desktop {
        @include mixins.media-desktop {
            display: block;
        }
    }

    &__image--tablet {
        @include mixins.media-tablet {
            display: block;
        }

        @include mixins.media-mobile {
            display: none;
        }
    }

    &__image--mobile {
        @include mixins.media-mobile {
            display: block;
        }
    }
}

.related-products {
    @extend %section-padding;

    &__inner-container {
        @extend %inner-container;
        margin-top: 160px;

        @include mixins.media-tablet {
            margin-top: 120px;
        }
    }

    &__title {
        font-weight: vars.$extra-bold-weight;
        font-size: vars.$h3-font-size;
        margin-bottom: 4rem;
        text-align: center;

        @include mixins.media-tablet {
            margin-bottom: 3.5rem;
        }

        @include mixins.media-mobile {
            margin-bottom: 2.5rem;
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
    }

    &__wrapper {
        @include mixins.flex($gap: 1.875rem, $items: center);

        @include mixins.media-tablet {
            gap: 0.75rem;
        }

        @include mixins.media-620 {
            flex-direction: column;
            align-items: stretch;
            gap: 3rem;
        }

        @include mixins.media-mobile {
            gap: 3.5rem;
        }
    }
}

.other-product {
    display: grid;
    align-items: center;
    gap: 2.5rem;

    @include mixins.media-620 {
        grid-template-rows: auto;
        grid-template-columns: auto min-content;
    }

    @include mixins.media-mobile {
        grid-template-columns: auto;
        grid-template-rows: 120px auto;
        gap: 2rem;
    }

    &__info {
        @include mixins.flex($gap: 2rem, $direction: column, $items: center);
    }

    &__name {
        font-size: vars.$h5-font-size;
        font-weight: vars.$extra-bold-weight;
        white-space: nowrap;
    }

    &__thumb {
        display: none;
        width: 100%;
        height: 318px;
        object-fit: cover;
        border-radius: 0.5rem;

        @include mixins.media-620 {
            height: 180px;
        }

        @include mixins.media-mobile {
            height: 100%;
        }
    }

    &__thumb--desktop {
        @include mixins.media-desktop {
            display: block;
        }
    }

    &__thumb--tablet {
        @include mixins.media-tablet {
            display: block;
        }
        @include mixins.media-620 {
            display: none;
        }
    }

    &__thumb--mobile {
        @include mixins.media-620 {
            display: block;
        }
    }
}
