@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.app-container {
    position: relative;
    display: grid;
    min-height: 100vh;
    min-width: 365px;
    grid-template-rows: min-content auto min-content;
    background-color: vars.$matte-white;

    & .footer {
        align-self: flex-end;
    }
}


.Toastify {
    position: absolute;
}
