@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.app-container {
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content auto min-content;
    background-color: vars.$matte-white;

    & > *:last-child {
        align-self: flex-end;
    }
}

.footer {
    background-color: vars.$matte-black;
    padding: 4.6875rem 2.5rem 3rem;

    @include mixins.media-tablet {
        padding-block: 3.75rem 2.875rem;
    }

    &__inner-container {
        @extend %inner-container;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -4.6875rem;
            left: 0;
            height: 0.25rem;
            background-color: vars.$default-orange;
            width: 6.25rem;

            @include mixins.media-tablet {
                top: -3.75rem;
            }
        }
    }

    &__inner-links {
        @include mixins.flex($content: space-between, $items: center, $gap: 2rem);

        @include mixins.media-tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__nav-links {
        @include mixins.flex($items: center, $gap: 2.125rem);

        @include mixins.media-tablet {
            gap: 1.75rem;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 3.5rem;
        margin-top: 2.25rem;

        @include mixins.media-tablet {
            row-gap: 3rem;
            margin-top: 2rem;
        }
    }

    &__about-brand {
        color: rgba(vars.$white, 0.5);

        @include mixins.media-tablet {
            grid-column: 1/3;
        }
    }

    &__social-media {
        @include mixins.flex($gap: 0.75rem, $content: flex-end);
        align-self: flex-end;

        @include mixins.media-tablet {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    &__social-icon {
        transition: fill vars.$transition-duration;
    }

    &__external-links {
        @include mixins.flex($items: flex-end, $direction: column-reverse);

        @include mixins.media-tablet {
            flex-direction: column;
            align-self: flex-end;
        }
    }

    &__social-link {
        padding: 0.25rem;
        transition: vars.$transition-duration;
        &:hover {
            transform: scale(1.2);

            .footer__social-icon {
                fill: vars.$default-orange;
            }
        }
    }

    &__attributions {
        color: rgba(vars.$white, 0.5);
        position: absolute;
        right: 0;
        bottom: 0;

        @include mixins.media-tablet {
            position: static;
        }
    }

    &__github {
        color: rgba(vars.$white, 0.5);
        font-weight: vars.$bold-weight;
        display: inline;
        transition: color vars.$transition-duration;

        &:hover {
            color: vars.$white;
        }
    }

    &__copyright {
        color: rgba(vars.$white, 0.5);
        font-weight: vars.$medium-weight;

        @include mixins.media-tablet {
            grid-column: 1;
            grid-row: 2/3;
            align-self: flex-end;
        }
    }
}
