@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.form-container {
    max-width: 480px;
    margin: 5rem auto;
    padding: 2.5rem;
    background-color: vars.$white;
    border-radius: 0.5rem;
    box-shadow: vars.$light-box-shadow;

    &__title {
        font-size: vars.$h4-font-size;
        line-height: vars.$h4-line-height;
        letter-spacing: vars.$h3-letter-spacing;
        font-weight: vars.$extra-bold-weight;
    }

    &__third-party {
        @include mixins.flex($gap: 1rem, $direction: column);
        margin-top: 2rem;
    }

    &__division {
        @include mixins.flex($gap: 1.5rem, $content: center, $items: center);
        margin: 1rem 0;
        font-size: 16px;
        font-weight: vars.$medium-weight;

        &::before,
        &::after {
            content: "";
            width: 50%;
            height: 1px;
            background-color: #cfcfcf;
        }
    }
}

.auth-form {
    &__input-wrapper {
        @include mixins.flex($gap: 1.5rem, $direction: column);
    }

    &__submit-btn {
        margin-top: 2.25rem;
        width: 100%;
    }
}

.third-party-btn {
    @include mixins.flex($gap: 0.75rem, $items: center, $content: center);
    border: 1px solid #afafaf;
    padding: 0.75rem 1rem;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;

        & > path {
            transition: fill vars.$transition-duration;
        }
    }

    &--google:hover {
        background-color: #4081ec;
    }

    &--apple:hover {
        background-color: vars.$matte-black;
    }

    &:hover {
        color: vars.$white;

        path {
            fill: vars.$white;
        }
    }
}
