@use "../../scss/1-base/variables" as vars;
@use "../../scss/1-base/mixins" as mixins;
@use "../../scss/1-base/placeholders";

.form-container {
    max-width: 480px;
    margin: 5rem auto;
    padding: 2.5rem;
    background-color: vars.$white;
    border-radius: 0.5rem;
    box-shadow: vars.$light-shadow;

    @include mixins.media-tablet {
        padding: 2rem;
    }

    @include mixins.media-mobile {
        max-width: 100%;
        margin: 0;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: vars.$h4-font-size;
        line-height: vars.$h4-line-height;
        letter-spacing: vars.$h3-letter-spacing;
        font-weight: vars.$extra-bold-weight;
    }

    &__third-party {
        @include mixins.flex($gap: 1rem, $direction: column);
    }

    &__separator {
        @include mixins.flex($gap: 1.5rem, $content: center, $items: center);
        margin: 1rem 0;
        font-size: 16px;
        font-weight: vars.$medium-weight;

        &::before,
        &::after {
            content: "";
            width: 50%;
            height: 1px;
            background-color: #cfcfcf;
        }
    }

    &__alt-page > * {
        display: inline-block;
        font-weight: vars.$medium-weight;
        font-size: 0.9rem;
        margin-top: 1.5rem;
    }

    &__signup-link {
        font-weight: vars.$bold-weight;
        text-decoration: underline;
        text-decoration-color: transparent;
        color: vars.$default-orange;

        &:hover {
            text-decoration-color: vars.$default-orange;
        }
    }
}

.auth-form {
    &__input-wrapper {
        @include mixins.flex($gap: 1.5rem, $direction: column);
    }

    &__submit-btn {
        position: relative;
        margin-top: 2.25rem;
        width: 100%;
    }
}

.third-party-btn {
    @include mixins.flex($gap: 0.75rem, $items: center, $content: center);
    border: 1px solid #afafaf;
    padding: 0.75rem 1rem;

    &--google {
        &:hover,
        &:focus-visible {
            background-color: #4081ec;
        }
    }

    &--github {
        &:hover,
        &:focus-visible {
            background-color: vars.$matte-black;
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        transition: opacity vars.$transition-duration;

        & > path {
            transition: fill vars.$transition-duration;
        }
    }

    &:hover,
    &:focus-visible {
        color: vars.$white;

        path {
            fill: vars.$white;
        }
    }
}
